:root{
  --padding-left: 10px 0px 5px 30px;
  --nalgene-blue: #81b6d9;
  --button-grey: #dcd7d74a;
  --thin-line: 1px solid rgba(0, 0, 0, 0.236);
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#root{
  width: 100%;
}
.App{
  width: 100%;
}
.header{
  width: 100%;
}
.upperHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #00000026;
}
#nalgeneLogo{
  height: 32px;
  width: auto;
}
.headerIcon{
  height: 20px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}

.cartNumber{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  border-radius: 44px;
  background-color: #81b6d9;
  width: 15px;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.lowerHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border-bottom: 1px solid #00000026;
  padding: 5px 0px 5px 0px;
}
#hamburger{
  border-right: 1px solid #00000026;
}
#searchInput{
  height: 30px;
  outline: none;
  border: none;
  width: 100%;
}
.searchBar{
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5px;
}
#searchButton{
  height: 40px;
  background-color: white;
  border: 0;
  padding: 0px;
}



.block1,.block2{
  color: white;
}
.block2{
  display: flex;
  flex-direction: column;

}

.marginLeft1{
  background-color: #1e73b585;
  padding: var(--padding-left);
  padding-bottom: 0px;
    display: flex;
    flex-direction: column;
}
.b1Titel{
  padding: 30px 0px 20px 0px;
}
.closeH2{
  margin: 0px 0px 0px 0px;
}
.b1Cta{
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 0px
}
.ctaLink{
  text-decoration: none;
  color: white;
}
#ctaArrow{
  height: 1rem;
  margin-left: 5px;

}
#backpack{
  width: 100%;
}
.discoverMore{
  padding: var(--padding-left);
  background-color: #17C2B1
}
.discoverUl{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 5px 0px 5px 0px;
  overflow-x: scroll;
}
.discoverUl>li{
  font-weight: bold;
  width: 150px;
  padding: 10px 20px 10px 0px;
  white-space: nowrap;
}



.marginLeft2{
  background-color: #171DC2;
  padding: var(--padding-left);
  margin-top: 50px;
}
.b2Titel{
  padding: 30px 0px 20px 0px;
}
.closeH2{
  margin: 0px 0px 0px 0px;
}
.b2Cta{
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 0px
}
#ctaArrow{
  height: 1rem;
  margin-left: 5px;
}
#colors{
  width: 100%;
}
.categoryHeader{
  padding: var(--padding-left);
  border-bottom: 1px solid #00000026;
}
.searchTerm{
  padding: 10px;
  background-color: var(--button-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
#searchTermClose{
  height: 15px;
}
.categoryHeaderTitle{
  padding: 10px 0px 5px 0px;
  font-weight: bold;
}
.categoryUl{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 5px 0px 5px 0px;
  overflow-x: scroll;
}
.categoryUl>li{
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-grey);
}
.productFeed{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 5px;
}
.productName{
  text-align: center;
  font-weight: bold;
}
.productCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.productPrice{
  font-size: 0.8rem;
}
.productImage{
  height: 200px;
}



.footer{
  background-color: black;
  color: white;
  padding: 25px 10px 10px 10px;
  height: 300px;
}
.footerTitles{
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
.footerTitles>div{
  padding: 4px 10px 4px 10px;
  height: 1rem;
}
#mitgliedschaft,#impressum,#datenschutz{
  border-right: 1px solid white;
}
.socialIconCont{
  padding: 5px;
}
.socialIcons>img{
  background-color: white;
  height: 1rem;
  padding: 5px;
  margin: 5px 5px 0px 0px;
}


.productBody{
  padding: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productPage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productPageImage{
  height: 400px;
}
.productInfo{
  width: 100%;
  padding: 5px;
}
.productTitle{
  font-size: 1.5rem;
}
.productPriceCon{
  display: flex;
  align-items: baseline;
}
.includesTax{
  font-size: 0.8rem;
  margin-left: 5px;
}

.pickSize, .addToCart{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  padding: 5px;
  border: 1px solid black;
  height: 30px;
  font-size: 1.5rem;
}

.pickSize{
  justify-content: space-between;
  margin-top: 30px;
  border: 1px solid black;
}
.size{
  font-size: 1.5rem;
}
#arrowDown{
  height: 2rem;
}
.addToCart{
  justify-content: center;
  margin-top: 10px;
  border: 1px solid black;
  color: white;
  background-color: black;
  margin-bottom: 30px;
}
.cartModal{
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-width: 0;
  height: 80%!important;
  left: 0!important;
  overflow: auto;
  top: 20%!important;
  
  width: 100%!important;
  background-color: #ffffff;

  transform: translateZ(0);
  transition: transform 225ms cubic-bezier(0,0,.2,1);
  z-index: 100000;
}
.hidden{
  transform: translate3d(0,100%,0);
  transition: transform 195ms cubic-bezier(.4,0,1,1);
}
.cartModalBackground{
  z-index: 99999;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  background-color: black;
}
.backgroundHidden{
  display: none;
}
.sizeList{
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin-left: 15px;
}
.sizeList>li{
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.227);
}


.shoppingCartHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 1.8rem;
}
.shoppingCartAmount{
  font-size: medium;
  margin-left: 5px;
}

.emptyCart{
  margin: 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.emptyCartText{
  font-weight: bold;
  text-align: center;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#empty-cart-icon{
  height: 100px;
  padding: 5px;
  
}

.cartProductImage{
  height: 90px;
}
.shoppingCards{
  margin: 30px 0px 30px 0px;
}
.shoppingCartCard{
  display: flex;
  align-items: center;
  padding: 5px 16px 5px 16px;
  height: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.236);
}

.shoppingCartCardTitel{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
}
.shoppingCartCardName{
  text-decoration: none;
  color: black;
}
.shoppingCartCardPrice{
  text-align: left;
  font-size: 0.8rem;
}
.shoppingCartCardAmount{
  padding: 5px 10px 5px 10px;
    text-align: center;
}
.card-header{
  display: flex;
}
.card-body{
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.deleteIcon{
  height: 1rem;
}

.total{
  padding: 5px 16px 5px 16px;
  margin-bottom: 30px;
}
.subTotal,.delivery,.totalPrice{
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
}
.deliveryText{
  display: flex;
  align-items: center;

}
.deliveryTextFree{
  font-size: 0.7rem;
  margin-left: 5px;
}
.totalPrice{
  border-top: var(--thin-line);
  font-weight: bold;
}
button.checkout{
  margin-top: 10px;
  padding: 10px 16px;
  width: 100%;
  background-color: var(--nalgene-blue);
  border: 0px;
  letter-spacing: 0.5px;
  font-weight: bold;
}




@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.drop-down{
  padding: 5px 16px 0px;
  border-bottom: var(--thin-line);
  margin-bottom: 10px;
  margin-top: 50px
}

.drop-down-top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#dropdownicon{
  height: 20px;
  transition: transform 0.5s ease-in-out;
}

.drop-down-expand{
  opacity: 0;
  height: 0px;
  transition: all 0.26s ease-in-out;
  transition-property: height, opacity;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;

}
.drop-down-expand-active{
  height: 105px;
  opacity: 1;
  transition: all 0.26s ease-in-out;
  transition-property: height, opacity;
}
.enterCodeText{
  font-size: 0.8rem;
  padding: 3px;
}
#codeInput{
  box-shadow: inset 0 0 0 1px #ddd;
  width: 100%;
  height: 32px;
  border: 0px;
  text-align: center;
  outline: none;
  transition: 1s all ease-in-out;
}
#codeInput.valid{
  background-color: #4CAF50;
  transform: scale(1.1);
}
#codeInput.invalid{
  background-color: #dc847d;
  animation: shake 0.2s ease-in-out 0s 2;
}
.expandIconActive{
  transform: rotate(180deg);
}
#discountSubmit{
  box-shadow: inset 0 0 0 1px #ddd;
  width: 100%;
  height: 32px;
  border: 0px;
  margin-top: 5px;
}




.recommendations{
  padding: 5px 16px 5px 16px;
  margin-bottom: 30px;
}
.headerLine1{
  font-weight: bold;
  font-size: 1.2rem;
}
.recommendationSlider{
  padding: 0px;
  margin: 0px;
  list-style: none;
  display: flex;
  overflow-x: scroll;
}

.productFeedNoResultHeader{
  margin: 30px 0px;
  padding: 5px 16px 5px 16px;
  font-size: 2rem;
}



.menu{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-size: 3rem;
  background: white;
  transform: translate3d(-100vw, 0, 0);
  transition: transform 1s cubic-bezier(0, .52, 0, 1);
  z-index: 10000;
  box-sizing: border-box;
  padding: 10px;
}
.menuHeader{
  display: flex;
  justify-content: right;
}
#menuIcon{
  padding: 5px;
}
.menuActive{
  transition: transform 1s cubic-bezier(0, .52, 0, 1);
  transform: translate3d(0vw, 0, 0);
}
#menuIcon{
  height: 15px;
}
.menuBody{
  display: flex;
    align-items: center;
    justify-content: center;
}
.menuBody>ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}
.menuBody>ul>li{
  border-bottom: var(--thin-line);
  text-align: center;
  margin: 60px 0px;
  font-size: 2rem;
  padding: 10px;
}
.menuLink{
  text-decoration: none;
  color: black;
}

/*
sign page
*/

/*
login form
*/
.signIn{
  padding: 0px 15px;
  min-height: 500px;
  display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.standardInput{
  padding: 2px;
  height: 30px;
  margin: 5px 0px;
  font-size: 1rem;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0px 1px #1a1a1a;
}


/*
registration form
*/


/*
expander component
*/
.expander{
  margin-bottom: 160px;
  border-bottom: var(--thin-line);
}
.expand{
  opacity: 0;
  height: 0px;
  transition: all 0.26s ease-in-out;
  transition-property: height, opacity;
}
.expanderTop{
  margin-top: 30px;
  margin-bottom: 10px;
}
.expanderTopText{
  font-weight: 600;
  font-size: 1.5rem;
}
.expandActive{
  display: flex;
  height: 330px;
  opacity: 1;
  transition: all 0.26s ease-in-out;
  transition-property: height, opacity;
}
button.expandActive{
  display: none;
}

/*
Client Home page
*/
.clientHomePageContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 15px;
  min-height: 600px;
}
#signout{
  margin-top: 10px;
  padding: 10px 16px;
  width: 100%;
  background-color: var(--nalgene-blue);
  border: 0px;
  letter-spacing: 0.5px;
  font-weight: bold;
}