
.upperHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #00000026;
}
#nalgeneLogo{
  height: 70px;
  width: auto;
}
.headerIcon{
  height: 20px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
}
.lowerHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  border-bottom: 1px solid #00000026;
  padding: 5px 0px 5px 0px;
}
#hamburger{
  border-right: 1px solid #00000026;
}
#searchInput{
  height: 30px;
  outline: none;
  border: none;
  width: 100%;
}
.searchBar{
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 5px;
}

.block1,.block2{
  color: white;
}

.marginLeft1{
  background-color: #1e73b585;
  padding: 10px 0px 0px 50px;
}
.b1Titel{
  padding: 30px 0px 20px 0px;
}
.closeH2{
  margin: 0px 0px 0px 0px;
}
.b1Cta{
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 0px
}
#ctaArrow{
  height: 1rem;
  margin-left: 5px;

}
#backpack{
  width: 100%;
}
.discoverMore{
  padding: 10px 10px 10px 50px;
  background-color: #17C2B1
}
.discoverUl{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 5px 0px 5px 0px;
  overflow-x: scroll;
}
.discoverUl>li{
  font-weight: bold;
  width: 150px;
  padding: 10px;
}



.marginLeft2{
  background-color: #171DC2;
  padding: 10px 0px 0px 50px;
  margin-top: 50px;
}
.b2Titel{
  padding: 30px 0px 20px 0px;
}
.closeH2{
  margin: 0px 0px 0px 0px;
}
.b2Cta{
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 0px
}
#ctaArrow{
  height: 1rem;
  margin-left: 5px;
}
#colors{
  width: 100%;
}